@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Course Page</h1>

<form class="form-sample" method ="post" enctype="multipart/form-data" >

    <div class="mb-3">
        <label>Name</label>
        <input class="form-control" placeholder = "Course Name" name ="Name" />
    </div>


     <div class="mb-3">
        <label>Lesson Count</label>
        <input class="form-control" placeholder = "Lesson Count" type = "number" name ="LessonCount" />
    </div>



     <div class="mb-3">
        <label>Author Name</label>
        <input class="form-control" placeholder = "Author Name" type ="text" name ="AuthorName" />
    </div>


     <div class="mb-3">
        <label>Rating</label>
        <input class="form-control" placeholder = "Rating" type ="number" name ="Rating" />
    </div>


       <div class="mb-3">
        <label>Price</label>
        <input class="form-control" placeholder = "Price" type ="number" name ="Price" />
    </div>

      <div class="mb-3">
        <label>Course Description</label>
       <textarea class = "form-control" placeholder = "Description" type = "text" name ="Description"> </textarea>
    </div>

    
       <div class="mb-3">
        <label>Photo</label>
        <input class="form-control"  type ="file" name ="PhotoUrl" />
    </div>


      <div class="mb-3">
        <label>Categories</label>
 <select class = "form-control" name = "CategoryId">
            @foreach (var item in ViewBag.CategoryList as List<Category>)
            {
                  <option value = "@item.CategoryId">@item.CategoryName</option>
            }
        </select>
    </div>


     
       <div class="mb-3">
       
       <input class="btn btn-primary"  type ="submit" value ="Add Course" />
         <a asp-action = "Index" class = "btn btn-light ">Return</a>
    </div>




</form>